<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Showcase - Personal Portfolio One Page Bulma Theme</title>
    <!-- Bulma Version 0.9.0-->
    <link rel="stylesheet" href="https://unpkg.com/bulma@0.9.0/css/bulma.min.css" />
    <link rel="stylesheet" type="text/css" href="../css/showcase.css" />
    <script
      src="https://kit.fontawesome.com/2828f7885a.js"
      integrity="sha384-WAsFbnLEQcpCk8lM1UTWesAf5rGTCvb2Y+8LvyjAAcxK1c3s5c0L+SYOgxvc6PWG"
      crossorigin="anonymous"
    ></script>
    <link rel="icon" type="image/png" href="favicon.png" />
  </head>

  <body>
    <!-- Begin Preloader -->
    <div class="preloader-wrapper">
      <div class="preloader">
        <img src="img/preloader.gif" alt="" />
      </div>
    </div>
    <!-- End Preloader-->

    <!-- Begin Scroll Up Button -->

    <form action="#home">
      <button id="toTop" title="Go to top">
        <i class="fas fa-angle-up"></i>
      </button>
    </form>
    <!-- End Scroll Up Button -->

    <!-- Begin Header -->
    <div class="header-wrapper" id="home">
      <!-- Begin Hero -->
      <section class="section">;
	<img src="https://www.img-ikyu.com/contents/dg/guide/acc6/00001806/img/a_top_1.jpg" alt="トップ">
        <!-- Begin Hero Content-->
        <p >パレスホテル東京</p>
        <p >評価4.73</p>
        <!-- Begin Hero Menu -->
        <!-- End Hero Menu -->
      </section>
    </div>
<nav class="level">
  <p class="level-item has-text-centered is-12">
    <a class="is-link is-active" href="#宿のご紹介">宿のご紹介</a>
  </p>
  <p class="level-item has-text-centered">
    <a class="is-link is-active" href="#宿泊プラン">宿泊プラン</a>
  </p>
  <p class="level-item has-text-centered">
    <a class="is-link is-active" href="#基本情報">基本情報</a>
  </p>
  <p class="level-item has-text-centered">
    <a class="is-link is-active is-12" href="#アクセス">アクセス</a>
  </p>
</nav>
      <!-- End Hero -->
    <!-- End Header -->

    <!-- Begin Main Content -->
    <div class="main-content">
      <!-- Begin About Me Section -->
      <div class="section-light about-me" id="宿のご紹介">
        <div class="container">
          <div class="column is-12 about-me">
            <h1 class="title has-text-centered section-title">宿のご紹介</h1>
          </div>
          <div class="columns is-multiline">
            <div
              class="column is-6 has-vertically-aligned-content"
              data-aos="fade-right"
            >
              <pi class="is-size-6">
		    緑と水が広がる、落ち着きと品格に満ちた「最上質の日本」、丸の
		    内1-1-1にパレスホテル東京は2012年5月17日、グランドオープンし
		    ました。<br>
		    1961年の創業から熟成させてきた伝統のおもてなしと、革新的な最
		    新設備が融合したホテルとして生まれ変わり、2020年には「フォー
		    ブス・トラベルガイド」の「ホテル部門」にて、5年連続で5つ星の
		    評価を得ました。<br>
		    又、2020年7月には国際社会保障協会にて感染症予防プログラムの
		    運営基準を提唱しているGlobalBioriskAdvisoryCouncilによる国際
		    認証プロブラム“GBACSTARFacilityAccreditation”を国内ホテルで
		    初めて取得しました。<br>
		    700点以上のアート作品に彩られたホテルには、全290室の客室、
		    10店舗のレストラン&バー、日本初上陸の「エビアンスパ東京」を
		    備えています。<br>
		    世界が認めたラグジュアリーホテル「パレスホテル東京」で上質な
		    一日をお過ごしください。
              </p>
              <br />
              <div class="is-divider"></div>
              <div class="columns about-links">
                <div class="column">
                  <p class="heading">
                    <strong>設備・特徴</strong>
                  </p>
                  <p class="subheading">
                    フィットネス, バリアフリー, ルームサービス24H対応, コンビニまで徒歩5分以内, 駅徒歩5分以内, 屋内プール, エステ施設
                  </p>
                </div>
              </div>
            </div>
            <div class="column is-6 right-image " data-aos="fade-left">
              <img
                class="image is-rouded"
                src="https://www.img-ikyu.com/contents/dg/guide/acc6/00001806/img/a_top_2.jpg"
                alt=""
              />
              <img
                class="image is-rouded"
                src="https://www.img-ikyu.com/contents/dg/guide/acc6/00001806/img/a_top_3.jpg"
                alt=""
              />
              <img
                class="image is-rouded"
                src="https://www.img-ikyu.com/contents/dg/guide/acc6/00001806/img/a_top_4.jpg"
                alt=""
              />
        </div>
      </div>
      <!-- End About Me Content -->
    </div>
    <!-- End Main Content -->
    <!-- Scripts -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="../js/showcase.js"></script>
    <link href="https://cdn.rawgit.com/michalsnik/aos/2.1.1/dist/aos.css" rel="stylesheet">
    <script src="https://cdn.rawgit.com/michalsnik/aos/2.1.1/dist/aos.js"></script>
    <script>
      AOS.init({
        easing: "ease-out",
        duration: 800,
      });
    </script>
  </body>
</html>
